*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, sans-serif;
}

html,body{
    height:100%;
    display:flex;
    flex-direction:column;
    background:rgb(4,80,110);
}



.navbar{
    display:flex;
    align-items:center;
    justify-content:space-between;
    background:rgb(15,23,42);
    padding:15px 30px;
    color:rgb(255,255,255);
}

.logo{
    font-size:24px;
    font-weight:bold;
}

.logo span{
    color:rgb(56,189,248);
}

.nav-links{
    list-style:none;
    display:flex;
    gap:70px;
}

.nav-links a{
    text-decoration:none;
    color:rgb(255,255,255);
}

.nav-links a:hover{
    color:rgb(56,189,248);
}


.icons{
    display:flex;
    align-items:center;
    gap:20px;
    font-size:18px;
    cursor:pointer;
}

.icons i:hover{
    color:rgb(56,189,248);
}


.search-box{
    background:rgb(255,255,255);
    border-radius:5px;
    overflow:hidden;
}

.search-box button{
    border:none;
    background:rgb(56,189,248);
    padding:8px 12px;
    cursor:pointer;
}

.search-box i{
    color:rgb(0,0,0);
}


.main{
    flex:1;
    display:flex;
    align-items:center;
    justify-content:center;
    color:rgb(255,255,255);
    font-size:28px;
}


.footer{
    background:rgb(0,0,0);
    color:rgb(255,255,255);
    padding:50px 30px 20px;
}

.footer-container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    gap:40px;
}

.footer-column h3,
.footer-column h4{
    margin-bottom:15px;
}

.footer-column p{
    font-size:14px;
    line-height:1.6;
}

.footer-column ul{
    list-style:none;
}

.footer-column ul li{
    margin-bottom:10px;
}

.footer-column ul li a{
    text-decoration:none;
    color:rgb(255,255,255);
}

.footer-column ul li a:hover{
    color:rgb(56,189,248);
}


.footer-logo{
    font-size:22px;
    font-weight:bold;
    margin-bottom:15px;
}

.footer-logo span{
    color:rgb(56,189,248);
}


.social-icons{
    display:flex;
    gap:15px;
    margin-top:10px;
}

.social-icons a{
    background:rgb(255,255,255);
    color:rgb(0,0,0);
    width:40px;
    height:40px;
    border-radius:50%;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:18px;
    transition:0.3s;
}

.social-icons a.facebook:hover{
    background:rgb(24,119,242);
    color:rgb(255,255,255);
}

.social-icons a.instagram:hover{
    background:rgb(225,48,108);
    color:rgb(255,255,255);
}

.social-icons a.twitter:hover{
    background:rgb(29,161,242);
    color:rgb(255,255,255);
}

.social-icons a.youtube:hover{
    background:rgb(255,0,0);
    color:rgb(255,255,255);
}

.footer-bottom{
    text-align:center;
    border-top:1px solid rgb(51,51,51);
    margin-top:30px;
    padding-top:15px;
    font-size:13px;
}
