*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
    }
    
    body{
    height:100vh;
    background:linear-gradient(135deg,#0f172a,#020617);
    display:flex;
    justify-content:center;
    align-items:center;
    color:white;
    }
    
    .page{
    width:100%;
    height:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:20px;
    }
    
    .cart{
    width:560px;
    background:#111827;
    padding:28px;
    border-radius:18px;
    box-shadow:0 0 40px rgba(0,0,0,0.6);
    }
    
    .cart-header{
    display:flex;
    justify-content:space-between;
    border-bottom:1px solid #334155;
    padding-bottom:14px;
    margin-bottom:18px;
    }
    
    .cart-header h2{
    color:#60a5fa;
    font-weight:600;
    }
    
    .item{
    display:flex;
    align-items:center;
    justify-content:space-between;
    gap:28px;
    background:#020617;
    border:1px solid #1e293b;
    padding:20px 22px;
    border-radius:16px;
    margin-bottom:16px;
    }
    
    .left{
    display:flex;
    align-items:center;
    gap:18px;
    }
    
    .left img{
    width:72px;
    height:72px;
    border-radius:12px;
    object-fit:cover;
    }
    
    .left h4{
    font-size:15px;
    font-weight:600;
    margin-bottom:3px;
    }
    
    .left p{
    font-size:13px;
    color:#94a3b8;
    font-weight:400;
    }


    .qty-box{
    display:flex;
    align-items:center;
    gap:16px;
    background:#1e293b;
    padding:8px 16px;
    border-radius:10px;
    }
    
    .qty-box button{
    width:30px;
    height:30px;
    border:none;
    border-radius:6px;
    background:#3b82f6;
    color:white;
    font-size:16px;
    cursor:pointer;
    }
    
    .qty-box span{
    font-weight:500;
    }
    
    .right{
    display:flex;
    align-items:center;
    gap:22px;
    }
    
    .right h4{
    color:#60a5fa;
    font-weight:600;
    }
    
    .remove{
    width:34px;
    height:34px;
    border:none;
    border-radius:6px;
    background:#7f1d1d;
    color:white;
    font-size:18px;
    cursor:pointer;
    }
    
    .summary{
    margin-top:18px;
    }
    
    .summary div{
    display:flex;
    justify-content:space-between;
    margin:12px 0;
    font-size:14px;
    font-weight:400;
    }
    
    .total{
    border-top:1px solid #334155;
    padding-top:12px;
    font-size:17px;
    color:#60a5fa;
    font-weight:600;
    }
    
    .checkout{
    width:100%;
    margin-top:20px;
    padding:15px;
    border:none;
    border-radius:10px;
    background:linear-gradient(to right,#3b82f6,#60a5fa);
    color:white;
    font-size:16px;
    font-weight:600;
    cursor:pointer;
    transition:0.3s;
    }
    