* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

#main {
    width: 100%;
    height: 100vh;
}




#top {
    width: 100%;
    height: 50%;
    position: relative;
    color: #ffffff;
    background-image: url(./cool8.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}




#top-up {
    position: absolute;
    top: 25px;
    left: 0;
    width: 100%;
    padding: 0 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#top-p {
    display: flex;
    align-items: center;
    gap: 15px;
}

#pup {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #ff3c00;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #ffffff;
}

#icons {
    display: flex;
    gap: 20px;
}

#icons i {
    cursor: pointer;
}




#hero {
    position: absolute;
    bottom: 60px;
    left: 0;
    width: 100%;
    padding: 0 60px;
    display: flex;
    justify-content: space-between;
}

#hero-left h1 {
    font-size: 90px;
    font-weight: 300;
}

.dots {
    margin-top: 20px;
}

.dots span {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 8px;
    border-radius: 50%;
    background-color: #ffffff;
    opacity: 0.6;
}

#hero-right {
    display: flex;
    gap: 60px;
    align-items: flex-start;
}

.info-block h4 {
    margin-bottom: 8px;
}

.info-block p {
    font-size: 13px;
    opacity: 0.8;
}

.social {
    display: flex;
    gap: 15px;
    align-items: center;
}

.social i {
    font-size: 14px;
    cursor: pointer;
    opacity: 0.8;
}

.social i:hover {
    opacity: 1;
}




#bottom {
    width: 100%;
    height: 50%;
    display: flex;
}

#b1 {
    width: 20%;
    padding: 30px;
    background-color: #f1f1f1;
}

#b2 {
    width: 30%;
    background-image: url(./cool5.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#b3 {
    width: 20%;
    display: flex;
    flex-direction: column;
}

#b3-top {
    height: 50%;
    padding: 25px;
    background-color: #ff3c00;
    color: #ffffff;
}

#b3-bottom {
    height: 50%;
    background-image: url(./cool4.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#b4 {
    width: 30%;
    padding: 30px;
    background-color: #111111;
    color: #ffffff;
}
.latest-item {
    display: flex;
    align-items: center;
    margin-top: 25px;
}

.latest-item img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
}

.latest-text p {
    font-size: 14px;
    margin-bottom: 5px;
}

.latest-text span {
    font-size: 12px;
    opacity: 0.6;
}
